
<div class="container is-max-desktop">
  <section class="featured">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h2 class="subtitle">Artigos Sugeridos</h2>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="field has-addons has-addons-centered">
            <div class="control">
              <a class="button is-small" disabled>
                <i class="fa fa-chevron-left"></i>
              </a>
            </div>
            <div class="control">
              <a class="button is-small">
                <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3">
        <article>
          <figure class="image is-5by3">
            <img src="https://i.ibb.co/fq8hSGQ/placeholder-image-368x246.png">
          </figure>
          <h2 class="subtitle">Conhecimento básico</h2>
          <span class="tag is-rounded">Estatística básica</span>
        </article>
      </div>
    </div>
  </section>
  <section class="categories">
    <div class="columns is-multiline">
      <div class="column is-6">
        <div class="category">
          <h1 class="title is-5">
            Unidade: Medidas de
            Dispersão ou Variação
            <span class="subtitle is-size-5">1 artigo</span>
          </h1>
          <hr />
          <ul>
            <li>
              <i class="fa fa-caret-right fa-xs icon-padding-right"></i>
              <a href="https://proeducacional.com/ead/curso-cga-modulo-i/capitulos/capitulo-4/aulas/medidas-de-tendencia-central-e-dispersao/">Medidas de Tendência Central e Dispersão</a>
            </li>

          </ul>
          <h3 class="category-more">Ver todos <i class="fa fa-arrow-right icon-padding-left"></i></h3>
        </div>
      </div>
      <!-- <div class="column is-6">
        <div class="category">
          <h1 class="title is-5">
            Billing & Accounts <span>5 articles</span>
          </h1>
          <hr />
          <ul>
            <li>
              <i class="fa fa-caret-right fa-xs icon-padding-right"></i>
              General Billing Overview
            </li>
            <li>
              <i class="fa fa-caret-right fa-xs icon-padding-right"></i>
              Changing the Account Owner
            </li>
            <li>
              <i class="fa fa-caret-right fa-xs icon-padding-right"></i>
              Downloading/Printing Your Invoices
            </li>
            <li>
              <i class="fa fa-caret-right fa-xs icon-padding-right"></i>
              Downloading/Printing Your Invoices
            </li>
            <li>
              <i class="fa fa-caret-right fa-xs icon-padding-right"></i>
              What to Do When Your Card is Declined
            </li>
          </ul>
          <h3 class="category-more">View All <i class="fa fa-arrow-right icon-padding-left"></i></h3>
        </div>
      </div> -->
    </div>
  </section>
</div>
<!-- <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="links">

        <div class="level-item">
          <a href="#">Link One</a>
        </div>
        <div class="level-item">
          <a href="#">Link One</a>
        </div>
        <div class="level-item">
          <a href="#">Link One</a>
        </div>
      </div><br>
    </div>
  </div>
</footer> -->
