.hero{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-ls{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
}
.bg-light-transparent{
    background: rgba(123, 123, 123, 0.5);
}
.bg-dark-transparent{
    background: rgba(123, 123, 123, 0.5);
}
@media (min-width: 320px) and (max-width: 1023px) {
  
    .hero{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bg-dark-transparent{
        background: rgba(58, 58, 58, 0.36);
    }
    
}