<mat-grid-list cols="1" rowHeight="6rem">
    <mat-grid-tile>  
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Valores</mat-label>
                <input matInput placeholder="1,2,3,4" #valores (keyup)="GerarTabela(valores.value.toString())">
                <mat-icon matSuffix>edit</mat-icon>
                <mat-hint>Valores para a tabela</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary" href="#tabela_dados">Calcular</button>
        </p>      
    </mat-grid-tile>
</mat-grid-list>
        
<table mat-table [dataSource]="tabela" id="tabela_dados" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="intervalos">
    <th mat-header-cell *matHeaderCellDef> Intervalos </th>
    <td mat-cell *matCellDef="let element"> {{element.intervalos}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="xi">
    <th mat-header-cell *matHeaderCellDef> XI </th>
    <td mat-cell *matCellDef="let element"> {{element.xi}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fi">
    <th mat-header-cell *matHeaderCellDef> Frequência simples </th>
    <td mat-cell *matCellDef="let element"> {{element.fi}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Fi">
    <th mat-header-cell *matHeaderCellDef> Frequência simples acumulada </th>
    <td mat-cell *matCellDef="let element"> {{element.Fi}} </td>
    </ng-container>

    <ng-container matColumnDef="fr">
        <th mat-header-cell *matHeaderCellDef> Frequência relativa   </th>
        <td mat-cell *matCellDef="let element"> {{element.fr}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Fr">
        <th mat-header-cell *matHeaderCellDef> Frequência relativa acumulada </th>
        <td mat-cell *matCellDef="let element"> {{element.Fr}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-grid-list cols="2" rowHeight="3:1" *ngIf="DadosTabela != undefined">
    <mat-grid-tile>
        <mat-form-field>
            <input matNativeControl value="{{DadosTabela.Media.Resultado}}" disabled>
            <mat-hint>Média</mat-hint>
        </mat-form-field>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Passos
                </mat-panel-title>
                <mat-panel-title>
                    Como cheguei a esse valor?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{DadosTabela.Media.m_StringValue}}</p>
        </mat-expansion-panel>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matNativeControl value="{{DadosTabela.Mediana.Resultado}}" disabled>
            <mat-hint>Mediana</mat-hint>
        </mat-form-field>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Passos
                </mat-panel-title>
                <mat-panel-title>
                    Como cheguei a esse valor?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{DadosTabela.Mediana.m_StringValue}}</p>
        </mat-expansion-panel>
    </mat-grid-tile>


    <mat-grid-tile>
        <mat-form-field>
            <input matNativeControl value="{{DadosTabela.Moda.Resultado}}" disabled>
            <mat-hint>Moda</mat-hint>
        </mat-form-field>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Passos
                </mat-panel-title>
                <mat-panel-title>
                    Como cheguei a esse valor?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{DadosTabela.Moda.Passos.m_StringValue}}</p>
        </mat-expansion-panel>
    </mat-grid-tile>


    <mat-grid-tile>
        <mat-form-field>
            <input matNativeControl value="{{DadosTabela.DesvioPadrao.Resultado}}" disabled>
            <mat-hint>Desvio Padrão</mat-hint>
        </mat-form-field>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Passos
                </mat-panel-title>
                <mat-panel-title>
                    Como cheguei a esse valor?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{DadosTabela.DesvioPadrao.Passos.m_StringValue}}</p>
        </mat-expansion-panel>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matNativeControl value="{{DadosTabela.Variancia.Resultado}}" disabled>
            <mat-hint>Variância</mat-hint>
        </mat-form-field>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Passos
                </mat-panel-title>
                <mat-panel-title>
                    Como cheguei a esse valor?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{DadosTabela.Variancia.Passos.m_StringValue}}</p>
        </mat-expansion-panel>
    </mat-grid-tile>

</mat-grid-list>
  