<div style="display: flex; justify-content: center; ">
    <div>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Valores</mat-label>
                <input matInput placeholder="1,2,3,4" [(ngModel)]="valoresTabela" (keyup)="GerarTabela(valoresTabela)">
                <mat-icon matSuffix>edit</mat-icon>
                <mat-hint>Valores para a tabela</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary" href="#tabela_dados">Calcular</button>
        </p>  
    </div>
    <div style="display: inline-block;">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome para a visualização" [(ngModel)]="NomeTabela">
                <mat-icon matSuffix>edit</mat-icon>
                <mat-hint>Nome do gráfico</mat-hint>
            </mat-form-field>
        </p>  
    </div>
</div>
 

<table mat-table [dataSource]="tabela" id="tabela_dados" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="intervalos">
    <th mat-header-cell *matHeaderCellDef> {{NomeTabela}} </th>
    <td mat-cell *matCellDef="let element"> {{element.intervalos}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="xi">
    <th mat-header-cell *matHeaderCellDef> Média </th>
    <td mat-cell *matCellDef="let element"> {{element.xi}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fi">
    <th mat-header-cell *matHeaderCellDef> Frequência simples </th>
    <td mat-cell *matCellDef="let element"> {{element.fi}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Fi">
    <th mat-header-cell *matHeaderCellDef> Frequência simples acumulada </th>
    <td mat-cell *matCellDef="let element"> {{element.Fi}} </td>
    </ng-container>

    <ng-container matColumnDef="fr">
        <th mat-header-cell *matHeaderCellDef> Frequência relativa   </th>
        <td mat-cell *matCellDef="let element"> {{element.fr}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Fr">
        <th mat-header-cell *matHeaderCellDef> Frequência relativa acumulada </th>
        <td mat-cell *matCellDef="let element"> {{element.Fr}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div *ngIf="DadosTabela != undefined">

    <mat-form-field>
        <MatFormFieldControl>
            <input matNativeControl value="{{DadosTabela.Media.Resultado}}" disabled>
            <mat-hint>Média</mat-hint>
        </MatFormFieldControl>
        <button mat-raised-button (click)="openDialog('Média',DadosTabela.Media.Passos.m_StringValue)">Como cheguei nesse resultado?</button>
    </mat-form-field>

    <mat-form-field>
        <MatFormFieldControl>
            <input matNativeControl value="{{DadosTabela.Mediana.Resultado}}" disabled>
            <mat-hint>Mediana</mat-hint>
        </MatFormFieldControl>
        <button mat-raised-button (click)="openDialog('Mediana',DadosTabela.Mediana.Passos.m_StringValue)">Como cheguei nesse resultado?</button>
    </mat-form-field>
    
    <mat-form-field>
        <MatFormFieldControl>
            <input matNativeControl value="{{DadosTabela.Moda.Resultado}}" disabled>
            <mat-hint>Moda</mat-hint>
            <button mat-raised-button (click)="openDialog('Moda',DadosTabela.Moda.Passos.m_StringValue)">Como cheguei nesse resultado?</button>
        </MatFormFieldControl>
    </mat-form-field>

    <mat-form-field>
        <MatFormFieldControl>
            <input matNativeControl value="{{DadosTabela.DesvioPadrao.Resultado}}" disabled>
            <mat-hint>Desvio Padrão</mat-hint>
            <button mat-raised-button (click)="openDialog('Desvio Padrão', DadosTabela.DesvioPadrao.Passos.m_StringValue)">Como cheguei nesse resultado?</button>
        </MatFormFieldControl>
    </mat-form-field>

    <mat-form-field>
        <MatFormFieldControl>
            <input matNativeControl value="{{DadosTabela.Variancia.Resultado}}" disabled>
            <mat-hint>Variância</mat-hint>
            <button mat-raised-button (click)="openDialog('Variância',DadosTabela.Variancia.Passos.m_StringValue)">Como cheguei nesse resultado?</button>
        </MatFormFieldControl>
    </mat-form-field>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>