.navbar{
    height: 80px;
    background: linear-gradient(90deg,#f15b5b,#ff4c4c 35%,#f15b5b);
    border-bottom: 1px solid rgba(173, 81, 81, 0.19);
    padding: 10px 24px;
}
.m-number{
    margin: 0 auto;
    color: #ccc;
    position: relative;
    animation: gangorra 1s ease-out forwards;
}
.m-number:hover{
    animation: gangorra 1s ease-in-out forwards;
}
@keyframes gangorra{
    0%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    90%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.bg-transparent{
    background: transparent;
}
@media screen and (max-width: 1023px){
    .navbar-menu {
        background-color: #ff8686;
        box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
        padding: 0.5rem 0;
    }
}
.navbar-item:hover{
    background-color: transparent !important;
}
.navbar-brand{
    height:22px;
}
.absolute{
    position: absolute;
}