<h1>Fatorial</h1>
<h2>O que é Fatorial?</h2>
<ng-container *ngIf="wiki?.extract_html then dynamic else static"></ng-container>
<ng-template #dynamic>
  <app-wiki-card [wiki]="wiki"></app-wiki-card>
</ng-template>
<ng-template #static>
  <div class="container card card-block">

  </div>
</ng-template>
<div class="pt-1">
  <h2>Calcular Fatorial</h2>
  <form action="" method="post" [formGroup]="dadosForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Fatorial</mat-label>
        <input matInput [formControlName]="'values'" placeholder="Insira um valor"  [(ngModel)]="values"
          (keyup)="getFactorial(values)">
        <mat-icon matSuffix>edit</mat-icon>
        <mat-hint>O resultado será exibido abaixo</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Repetições</mat-label>
        <input matInput [formControlName]="'repetition'" type="number" placeholder="Insira um valor"  [(ngModel)]="repetition"
          (keyup)="getFactorial(values,repetition)">
        <mat-icon matSuffix>edit</mat-icon>
        <mat-hint>(Opcional)</mat-hint>
      </mat-form-field>
      <button mat-flat-button class="btn btn-primary" [disabled]="this.dadosForm.get('values').invalid"
        (click)="getFactorial(values,repetition)">Calcular</button>
    </p>
  </form>
  <div *ngIf="Fatorial">

    <mat-form-field style="width: 100%;">

      <input matNativeControl value="" disabled><br>
      <label class="label">Fatorial: </label>
      <div class="control">
        <input class="input is-medium" readonly type="text" [value]="Fatorial">
      </div>

    </mat-form-field>

    <!-- <mathjax #math [content]="Media.Passos.Valor"></mathjax> -->

  </div>

</div>
