<div class="">
  <h1>Anagrama</h1>
  <h2>O que são Anagramas?</h2>
  <ng-container *ngIf="wiki?.extract_html then dynamic else static"></ng-container>
  <ng-template #dynamic>
    <app-wiki-card [wiki]="wiki"></app-wiki-card>
  </ng-template>
  <ng-template #static>
    <div class="container card card-block">
      <p>Um <b>anagrama</b> é uma espécie de jogo de palavras criado com a reorganização das letras de uma palavra ou expressão para produzir outras palavras ou expressões, utilizando todas as letras originais exatamente uma vez. Exemplos amplamente conhecidos são Iracema e América e amor e Roma. Outro exemplo é o prenome da escritora brasileira Nélida Piñón, anagrama do prenome de seu avô materno Daniel Cuiñas.</p>
    </div>
  </ng-template>

  <div class="pt-2">
    <form action="" method="post" [formGroup]="dadosForm">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Anagrama</mat-label>
          <input matInput [formControlName]="'valores'" placeholder="AMOR" [(ngModel)]="valoresAnagrama" (change)="getAnagrama(valoresAnagrama)">
          <mat-icon matSuffix>edit</mat-icon>
          <mat-hint>Os possíveis anagramas aparecerão abaixo</mat-hint>
        </mat-form-field>
        <button mat-flat-button class="btn btn-primary" [disabled]="this.dadosForm.get('valores').invalid" (click)="getAnagrama(valoresAnagrama)">Calcular</button>
      </p>
    </form>
    <div *ngIf="Anagramas">
      <table id="tabela_dados" class="table ">
        <caption>
           Anagramas para {{ valoresAnagrama }}<br>
           <em><span>{{Anagramas.length}} resultados</span></em>
        </caption>
        <thead>
          <th>Anagrama</th>
        </thead>
        <tbody>
          <tr *ngFor="let anagrama of Anagramas">
            <td>{{anagrama}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>
