<clr-main-container>
  <!-- <div class="alert alert-app-level alert-info">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
        </div>
        <div class="alert-text">
          App Level Alert
        </div>
        <div class="alert-actions">
          <button class="btn btn-sm alert-action">Action</button>
        </div>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div> -->
  <clr-header class="header header-6">
    <div class="branding" >
			<a class="nav-link" [routerLink]="'/'" style="text-align: center;">
				<clr-icon shape="home" style="color:white" size="24"></clr-icon>
				<span class="title">{{title}}</span>
			</a>
		</div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Busque..." />
      </label>
    </form>
    <div class="header-nav">
      <a href="javascript://" class=" active nav-link nav-icon">
        <clr-icon shape="cloud"></clr-icon>
      </a>
      <a href="javascript://" class=" nav-link nav-icon">
        <clr-icon shape="folder"></clr-icon>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon dropdown-toggle" clrDropdownTrigger><clr-icon shape="cog"></clr-icon></button>
        <clr-dropdown-menu clrPosition="bottom-right">
          <button type="button" class="dropdown-item" *ngFor="let theme of themes" (click)="setTheme(theme)" clrDropdownItem>{{theme.name}}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'sobre'">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'ajuda'">Ajuda</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <navbar class="h-full"></navbar>
    <div class="content-area" id="content-area">

      <router-outlet #outlet="outlet"></router-outlet>
      <footer class="footer">
        <div class="">
          <p class=" is-family-primary">
            <strong>TBD Online</strong> - {{year}} - Unchool Tech.
          </p>
        </div>
      </footer>
      <app-scroll-top></app-scroll-top>
    </div>
  </div>
</clr-main-container>

