.mat-toolbar-row, .mat-toolbar-single-row{
    z-index: 2;
}
.main{
    animation: fade-in ease-in-out .5s forwards;
    width: 100vw;
}
.main-container .content-container .content-area{
    height: 100%;
    min-height: 100%;
    min-height: 100%;
}
.m-number{
    margin: 0 auto;
    color: #ccc;
    position: relative;
    animation: gangorra 1s ease-out forwards;
}
.m-number:hover{
    animation: gangorra 1s ease-in-out forwards;
}
@keyframes gangorra{
    0%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    90%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.bg-transparent{
    background: transparent;
}
@media screen and (max-width: 1023px){
    .navbar-menu {
        background-color: #ff8686;
        box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
        padding: 0.5rem 0;
    }
}
.navbar-item:hover{
    background-color: transparent !important;
}
.navbar-brand{
    height:22px;
}
.nav-link{
  width: 100%;
  display: flex;
  justify-content: center
}
.absolute{
    position: absolute;
}
.stack-view-key{
    flex:initial !important;
}
@keyframes fade-in{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translate(0px);
    }
}

@media screen and (max-width: 576px) {
    .main-container .header .branding {
        max-width: INITIAL;
        min-width: 0;
        overflow: hidden;
    }
}
