<div>
  <form action="" method="post" [formGroup]="dadosForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Mediana</mat-label>
        <input matInput [formControlName]="'values'" placeholder="1,2,3" [(ngModel)]="values"
          (keyup)="calcular(values)">
        <mat-icon matSuffix>edit</mat-icon>
        <mat-hint>A mediana será exbido abaixo</mat-hint>
      </mat-form-field>
      <button mat-flat-button class="btn btn-primary" [disabled]="this.dadosForm.get('values').invalid"
        (click)="calcular(values)">Calcular</button>
    </p>
  </form>
  <div *ngIf="Mediana">
    <mat-form-field>

      <input matNativeControl value="" disabled><br>
      <label class="label">Mediana: </label>
      <div class="control">
        <input class="input is-medium" readonly type="text" [value]="Mediana.Resultado">
      </div>

    </mat-form-field>
    <mathjax #math [content]="Mediana.Passos.Valor"></mathjax>
  </div>
</div>

<ng-container *ngIf="wiki?.extract_html then dynamic else static"></ng-container>
<ng-template #dynamic>
  <app-wiki-card [wiki]="wiki"></app-wiki-card>
</ng-template>
<ng-template #static>
  <div class="container card card-block">
    <p><b>Mediana</b> é o valor que separa a metade maior e a metade menor de uma amostra, uma população ou uma
      distribuição de probabilidade. Em termos mais simples, mediana pode ser o valor do meio de um conjunto de dados. No
      conjunto de dados '{{ '{' }} 1, 3, 3, 6, 7, 8, 9 {{ '}' }}', por exemplo, a mediana é 6. Se houver um número par de observações, não há
      um único valor do meio. Então, a mediana é definida como a média dos dois valores do meio. No conjunto de dados '{{ '{' }} 3,
      5, 7, 9 {{ '}' }}', a mediana é <span class="mwe-math-element"><img
          src="https://wikimedia.org/api/rest_v1/media/math/render/svg/5218a479868875a50270bab2ddfe0285fa1e1896"
          class="mwe-math-fallback-image-inline" aria-hidden="true"></span>.</p>
  </div>
</ng-template>
