<div class="">
  <h1>Tabela de distribuição de frequências</h1>
  <h2>O que é distribuição de frequência?</h2>

  <ng-container *ngIf="wiki?.extract_html then dynamic else static"></ng-container>
  <ng-template #dynamic>
    <app-wiki-card [wiki]="wiki"></app-wiki-card>
  </ng-template>
  <ng-template #static>
    <div class="container card-block">
      <p>Em estatística, a <b>distribuição de frequência</b> é um arranjo de valores que uma ou mais variáveis ​​tomam
        em uma amostra. Cada entrada na tabela contém a frequência ou a contagem de ocorrências de valores dentro de um
        grupo ou intervalo específico, e deste modo, a tabela resume a distribuição dos valores da amostra.</p>
    </div>
  </ng-template>

  <div class="pt-3">
    <h2>Gerar tabela de distribuição de frequências</h2>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Nome da tabela</mat-label>
        <input matInput placeholder="Nome para a visualização" [(ngModel)]="NomeTabela">
        <mat-icon matSuffix>edit</mat-icon>
      </mat-form-field>
    </p>
  </div>
  <div class="clr-row columns is-vcentered">
    <form action="" method="post" class="clr-col-6" [formGroup]="dadosForm">
      <p>
        <mat-form-field appearance="outline" class="fill w-full"
          style="padding-bottom: 0 !important;margin-bottom: 0 !important;">
          <mat-label>Conjunto (Coloque todos os elementos separados por vírgula.) :{{DadosTabela?.NumeroDeElementos||NumElementos ?
            DadosTabela?.NumeroDeElementos||NumElementos||0 + 'Elementos' : ''}}</mat-label>
          <input matInput [formControlName]="'valores'" placeholder="Coloque todos os elementos separados por vírgula. Ex: 1,2,3,4" [(ngModel)]="values"
            (keyup)="calcular(values)">
          <mat-icon matSuffix>edit</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
        <button mat-flat-button class="btn btn-primary" [disabled]="this.dadosForm.get('valores').invalid"
          (click)="calcular(values)" href="#tabela_dados">Calcular</button>
      </p>
    </form>
    <div class="card clr-col-6">
      <div class="card-body">
        <h3>Ajuda</h3>
        <p>Esta calculadora de estatística, permite calcular frequência absoluta, moda, media, mediana, e frequências
          relativas.</p>

        <p>Para fazer os cálculos basta colocar todos os elementos no campo ao lado, separados por vírgula.</p>

        <p>Por exemplo: 1,3,2,3,4,5,1,4,4,6</p>

        <p>Após colocar todos os elementos clique no botão <strong>calcular</strong>.</p>

      </div> <!-- card-body -->
    </div>
  </div>
  <div class="" *ngIf="DadosTabela != undefined">
    <h2>Conjunto</h2>
    <p>{{values}}</p>
    <fieldset>
      <div class="clr-row">
        <div class="field clr-col-lg-3 clr-col-sm-6">
          <label class="label">Somatório Fi * Xi: </label>
          <div class="control">
            <input class="input is-medium" readonly type="text"
              [value]='DadosTabela.SomatorioFrequenciaSimplesVezesOTermo'>
          </div>
        </div>
        <div class="field clr-col-lg-3 clr-col-sm-6">
          <label class="label">Somatório Fi * Xi²: </label>
          <div class="control">
            <input class="input is-medium" readonly type="text"
              [value]='DadosTabela.SomatorioFrequenciaSimplesVezesOQuadradoDoTermo'>
          </div>
        </div>
        <div class="field clr-col-lg-3 clr-col-sm-6">
          <label class="label">Dp da Tabela: </label>
          <div class="control">
            <input class="input is-medium" readonly type="text" [value]='DadosTabela.DesvioPadraoTabela'>
          </div>
        </div>
        <div class="field clr-col-lg-3 clr-col-sm-6">
          <label class="label">Média do Dp: </label>
          <div class="control">
            <input class="input is-medium" readonly type="text" [value]='DadosTabela.MediaDp'>
          </div>
        </div>
      </div>
      <mat-tab-group>
        <mat-tab [label]="'Tabela Simples'">
          <table mat-table [dataSource]="tabela" id="tabela_dados" class="table mat-elevation-z8 pr-3">
            <caption>
              Tabela de agrupamento {{Simples ? 'simples' : 'com intervalos'}}<br>
              <em><span *ngIf="!Simples">Intervalo: {{DadosTabela.Intervalo}}</span></em>
            </caption>
            <ng-container matColumnDef="i">
              <th mat-header-cell *matHeaderCellDef> i </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="intervalos">
              <th mat-header-cell *matHeaderCellDef> {{NomeTabela}} </th>
              <td mat-cell *matCellDef="let element"> {{element.intervalos}} </td>
            </ng-container>

            <ng-container matColumnDef="xi">
              <th mat-header-cell *matHeaderCellDef> Média </th>
              <td mat-cell *matCellDef="let element"> {{element.xi}} </td>
            </ng-container>

            <ng-container matColumnDef="fi">
              <th mat-header-cell *matHeaderCellDef> F. i </th>
              <td mat-cell *matCellDef="let element"> {{element.fi}} </td>
            </ng-container>

            <ng-container matColumnDef="Fi">
              <th mat-header-cell *matHeaderCellDef> F. i acumulada </th>
              <td mat-cell *matCellDef="let element"> {{element.Fi}} </td>
            </ng-container>

            <ng-container matColumnDef="fr">
              <th mat-header-cell *matHeaderCellDef> F. r </th>
              <td mat-cell *matCellDef="let element"> {{element.fr}} </td>
            </ng-container>

            <ng-container matColumnDef="Fr">
              <th mat-header-cell *matHeaderCellDef> F. r acumulada </th>
              <td mat-cell *matCellDef="let element"> {{element.Fr}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>
        <mat-tab [label]="'Tabela Desvio Padrão'">
          <table mat-table [dataSource]="tabela" id="tabela_dados_dp" class="table mat-elevation-z8 pr-3">
            <caption>
              Tabela de agrupamento {{Simples ? 'simples' : 'com intervalos'}}<br>
              <em><span *ngIf="!Simples">Intervalo: {{DadosTabela.Intervalo}}</span></em>
            </caption>
            <ng-container matColumnDef="i">
              <th mat-header-cell *matHeaderCellDef> i </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="intervalos">
              <th mat-header-cell *matHeaderCellDef> Xi ({{NomeTabela}}) </th>
              <td mat-cell *matCellDef="let element"> {{element.intervalos}} </td>
            </ng-container>

            <ng-container matColumnDef="xi">
              <th mat-header-cell *matHeaderCellDef> Média </th>
              <td mat-cell *matCellDef="let element"> {{element.xi}} </td>
            </ng-container>

            <ng-container matColumnDef="fi">
              <th mat-header-cell *matHeaderCellDef> Fi </th>
              <td mat-cell *matCellDef="let element"> {{element.fi}} </td>
            </ng-container>

            <ng-container matColumnDef="Fi">
              <th mat-header-cell *matHeaderCellDef> FI </th>
              <td mat-cell *matCellDef="let element"> {{element.Fi}} </td>
            </ng-container>

            <ng-container matColumnDef="fr">
              <th mat-header-cell *matHeaderCellDef> Fr </th>
              <td mat-cell *matCellDef="let element"> {{element.fr}} </td>
            </ng-container>

            <ng-container matColumnDef="Fr">
              <th mat-header-cell *matHeaderCellDef> FR </th>
              <td mat-cell *matCellDef="let element"> {{element.Fr}} </td>
            </ng-container>

            <ng-container matColumnDef="QuadradoDoTermo">
              <th mat-header-cell *matHeaderCellDef> Xi² </th>
              <td mat-cell *matCellDef="let element"> {{element.QuadradoDoTermo}} </td>
            </ng-container>

            <ng-container matColumnDef="FrequenciaSimplesVezesOTermo">
              <th mat-header-cell *matHeaderCellDef> Fi * Xi </th>
              <td mat-cell *matCellDef="let element"> {{element.FrequenciaSimplesVezesOTermo}} </td>
            </ng-container>

            <ng-container matColumnDef="FrequenciaSimplesVezesOQuadradoDoTermo">
              <th mat-header-cell *matHeaderCellDef> Fi * Xi² </th>
              <td mat-cell *matCellDef="let element"> {{element.FrequenciaSimplesVezesOQuadradoDoTermo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dp_displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dp_displayedColumns;"></tr>
          </table>
        </mat-tab>
      </mat-tab-group>

    </fieldset>
    <div class="clr-row">
      <div class="clr-col-12">
        <div class="card card-block content">
          <h2>Como realizar o cálculo da tabela de distribuição de frequência?</h2>

          <clr-accordion>
            <clr-accordion-panel (click)="math.ngOnInit()">
              <clr-accordion-title>Como a tabela foi
                montada?</clr-accordion-title>
              <clr-accordion-content>
                <mathjax #math [content]="DadosTabela['Passos'].Valor"></mathjax>
              </clr-accordion-content>
            </clr-accordion-panel>
          </clr-accordion>
          <button class="button btn btn-secondary" *ngIf="panelExpandedProperty" (click)="fecharPainel()">Fechar
          </button>
        </div>
      </div>
      <mat-form-field class="clr-col-md-6 clr-col-sm-12 field">

        <input matNativeControl value="" disabled><br>
        <label class="label" (click)="redirectWithValues('/agrupamento/media')"><a>Média: </a></label>
        <div class="control">
          <input class="input is-medium" readonly type="text" [value]="DadosTabela.Media['Resultado']">
        </div>

        <button mat-flat-button (click)="openDialog('Média',DadosTabela.Media['Passos'].Valor)">Como calcular a média?</button>
      </mat-form-field>

      <mat-form-field class="clr-col-md-6 clr-col-sm-12 field">

        <input matNativeControl value="" disabled><br>
        <label class="label" (click)="redirectWithValues('/agrupamento/coeficienteVariacao')"><a>Coeficiente de
            Variação: </a></label>
        <div class="control">
          <input class="input is-medium" readonly type="text" [value]="DadosTabela.CoeficienteVariacao['Resultado']">
        </div>

        <button mat-flat-button
          (click)="openDialog('Coeficiente de Variação',DadosTabela?.CoeficienteVariacao? DadosTabela?.CoeficienteVariacao['Passos']?.Valor : '')">Como
          obtive esse resultado?</button>
      </mat-form-field>

      <mat-form-field class="clr-col-md-6 clr-col-sm-12 field">

        <input matNativeControl value="" disabled><br>
        <label class="label" (click)="redirectWithValues('/agrupamento/mediana')"><a>Mediana: </a></label>
        <div class="control">
          <input class="input is-medium" readonly type="text" [value]="DadosTabela.Mediana['Resultado']">
        </div>
        <button mat-flat-button (click)="openDialog('Mediana',DadosTabela.Mediana['Passos'].Valor)">Como determinar a mediana?</button>
      </mat-form-field>

      <mat-form-field class="clr-col-md-6 clr-col-sm-12 field">

        <input matNativeControl value="" disabled><br>
        <label class="label" (click)="redirectWithValues('/agrupamento/moda')"><a>Moda: </a></label>
        <div class="control">
          <input class="input is-medium" readonly type="text" [value]="DadosTabela.Moda['Resultado']">
        </div>

        <button mat-flat-button (click)="openDialog('Moda',DadosTabela.Moda['Passos'].Valor)">Como determinar a moda?</button>
        <mat-hint>Classificação: {{DadosTabela.Moda['Classificacao']}}</mat-hint>

      </mat-form-field>

      <mat-form-field class="clr-col-md-6 clr-col-sm-12 field">

        <input matNativeControl value="" disabled><br>
        <label class="label" (click)="redirectWithValues('/agrupamento/desvioPadrao')"><a>Desvio Padrão: </a></label>
        <div class="control">
          <input class="input is-medium" readonly type="text" [value]="DadosTabela.DesvioPadrao['Resultado']">
        </div>

        <button mat-flat-button (click)="openDialog('Desvio Padrão', DadosTabela.DesvioPadrao['Passos'].Valor)">Como
          obtive esse resultado?</button>

      </mat-form-field>

      <mat-form-field class="clr-col-md-6 clr-col-sm-12 field">

        <input matNativeControl value="" disabled><br>
        <label class="label" (click)="redirectWithValues('/agrupamento/variancia')"><a>Variância: </a></label>
        <div class="control">
          <input class="input is-medium" readonly type="text" [value]="DadosTabela.Variancia['Resultado']">
        </div>
        <button mat-flat-button (click)="openDialog('Variância',DadosTabela.Variancia['Passos'].Valor)">Como obtive esse
          resultado?</button>

      </mat-form-field>
    </div>

    <hr>
  </div>

  <!-- <clr-accordion>
    <clr-accordion-panel>
      <clr-accordion-title>Cálculos</clr-accordion-title>
      <clr-accordion-content [(clrIfExpanded)]="calculosExpandedProperty">
        <pre>
          <mat-hint><i>cálculos:</i></mat-hint>
          {{DadosTabela || "" | json}}
        </pre>
      </clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion> -->
</div>
