<div>
  <form action="" method="post" [formGroup]="dadosForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Moda</mat-label>
        <input matInput [formControlName]="'values'" placeholder="1,2,3"
        [(ngModel)]="values" (keyup)="calcular(values)">
        <mat-icon matSuffix>edit</mat-icon>
        <mat-hint>A moda será exbido abaixo</mat-hint>
      </mat-form-field>
      <button mat-flat-button class="btn btn-primary"
      [disabled]="this.dadosForm.get('values').invalid"
       (click)="calcular(values)">Calcular</button>
    </p>
  </form>
  <div *ngIf="Moda">
    <mat-form-field>

      <input matNativeControl value="" disabled><br>
      <label class="label">Moda: </label>
      <div class="control">
        <input class="input is-medium" readonly type="text" [value]="Moda.Modas">
      </div>

    </mat-form-field>
    <mathjax #math [content]="Moda.Passos.Valor"></mathjax>
  </div>
</div>

<ng-container *ngIf="wiki?.extract_html then dynamic else static"></ng-container>
<ng-template #dynamic>
  <app-wiki-card [wiki]="wiki"></app-wiki-card>
</ng-template>
<ng-template #static>
  <div class="container card card-block">
    <p><b>Moda</b> é uma das medidas de altura de um conjunto de dados, assim como a média e a mediana. Ela pode ser definida em moda amostral e populacional.</p>
  </div>
</ng-template>
