/* You can add global styles to this file, and also import other style files */


html, body { height: 100%;  }
html{
  overflow: visible !important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
strong{
  font-weight: 500 !important;
}
i.counter{
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #cecece;
}
.h-full,.h-100{
  height: 100%;
}
.w-full{
  width: 100%;
}
.nav-group-trigger, .nav-group-text {
  font-weight: 400 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #0072a3;
}
p > button {
  height: 50px !important;
  bottom: 5px !important;
  margin-left: 5px !important;
}

.label{
  font-size: small;
}
.label,.subtitle{
  color: #fff ;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #f2f2f2;
  font-weight: 600;
  line-height: 1.125;
}

.mat-hint {
  color: #f2f2f2;
}
.mat-form-field-label {
  color: #f2f2f2;
}
.title {
  color: #fff;
}
