

<div class="container is-max-desktop" id="main">
  <section class="featured">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h2 class="subtitle">Todas as operações</h2>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="field has-addons has-addons-centered">
            <div class="control">
              <a class="button is-small" disabled>
                <i class="fa fa-chevron-left"></i>
              </a>
            </div>
            <div class="control">
              <a class="button is-small" disabled>
                <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-multiline">
      <mat-card class="column is-3 card-block  card" *ngFor="let project of projects" >
        <mat-header class="h-full ">
          <a [href]="project.link" class="">
            <h2 class="subtitle">{{project.name}}</h2>
            <span class="tag is-rounded {{project.class}}">{{project.header}}</span>
            {{project.wiki?.description}}
          </a>
        </mat-header>
        <mat-card-actions class="card-footer">
          <clr-icon shape="calculator"></clr-icon>
          <button class="btn btn-sm btn-link" [routerLink]="[project.link]">Calcular</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
<section class="hero is-small">
  <div class="hero-body has-text-centered">
    <!-- <h1 class="title is-4">Operações de Estatística.</h1> -->

    <!-- <div id="hero-input-group" class="field has-addons has-addons-centered">
      <div class="control">
        <input class="input is-medium" type="text" placeholder="Search...">
      </div>
      <div class="control">
        <a class="button is-medium is-primary">
          <i class="fal fa-search"></i>
        </a>
      </div>
    </div> -->
  </div>
</section>
